body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

#error-message {
    font-size: 24px;
    color: #343a40;
    font-weight: bold;
}